<!-- Structure principale de la page d'accueil -->
<main class="flex flex-col min-h-screen">
  <!-- Hero Section -->
  <app-hero></app-hero>

  <!-- Sections informatives -->
  <app-presentation></app-presentation>
  <app-about></app-about>
  <app-services-overview></app-services-overview>

  <!-- Sections des offres -->
  <app-travel-pack></app-travel-pack>
  <app-business-pack></app-business-pack>
  <app-serenity-pack></app-serenity-pack>

  <!-- Section témoignages -->
  <app-testimonials></app-testimonials>
</main>